log:
  level: info
  file: "/tmp/mosdns.log"

include: []

data_providers:
  - tag: geoip
    file: "/etc/openclash/GeoIP.dat"
    auto_reload: true

  - tag: geosite
    file: "/etc/openclash/GeoSite.dat"
    auto_reload: true

  - tag: whitelist
    file: "/etc/mosdns/rule/whitelist.txt"
    auto_reload: true

  - tag: greylist
    file: "/etc/mosdns/rule/greylist.txt"
    auto_reload: true

  - tag: hosts
    file: "/etc/mosdns/rule/hosts.txt"
    auto_reload: true

  - tag: redirect
    file: "/etc/mosdns/rule/redirect.txt"
    auto_reload: true

  - tag: local_ptr
    file: "/etc/mosdns/rule/local-ptr.txt"
    auto_reload: true

plugins:
  - tag: "local_end"
    type: forward
    args:
      upstream:
        - addr: 127.0.0.1 # dnsmasq
      timeout: 15

  - tag: "remote_end"
    type: forward
    args:
      upstream:
        - addr: 127.127.127.127:7874 # clash dns 端口
      timeout: 15

  - tag: query_is_whitelist_domain
    type: query_matcher
    args:
      domain:
        - "provider:whitelist"

  - tag: query_is_greylist_domain
    type: query_matcher
    args:
      domain:
        - "provider:greylist"

  - tag: query_is_hosts_domain
    type: hosts
    args:
      hosts:
        - "provider:hosts"

  - tag: query_is_redirect_domain
    type: redirect
    args:
      rule:
        - "provider:redirect"

  - tag: query_is_local_domain
    type: query_matcher
    args:
      domain:
        - "lan"
        - "local"
        - "provider:geosite:cn,apple-cn,category-games@cn"

  - tag: query_is_non_local_domain
    type: query_matcher
    args:
      domain:
        - "provider:geosite:geolocation-!cn"

  - tag: response_has_local_ip
    type: response_matcher
    args:
      ip:
        - "provider:geoip:cn"
        - "192.168.88.1/24" # Your lan ip-cidr here
      cname:
        - "provider:whitelist"

  - tag: is_https_query
    type: query_matcher
    args:
      qtype: [65]

  - tag: response_has_lan_ip
    type: response_matcher
    args:
      ip:
        - "192.168.88.1/24" # Your lan ip-cidr here

  - tag: increase_ttl
    type: ttl
    args:
      minimal_ttl: 1800

  - tag: match_local_ptr
    type: query_matcher
    args:
      qtype: [12]
      domain:
        - "provider:local_ptr"

  - tag: is_ipv6_query
    type: query_matcher
    args:
      qtype: [28]

  - tag: forward_local
    type: sequence
    args:
      exec:
        - local_end
        - if: response_has_lan_ip
          exec:
            - increase_ttl
            - _return

  - tag: "forward_remote"
    type: "sequence"
    args:
      exec:
        - if: is_ipv6_query
          exec:
            - _new_empty_response
            - _return
        - remote_end

  - tag: "main_sequence"
    type: "sequence"
    args:
      exec:
        - _misc_optm
        - query_is_hosts_domain
        - query_is_redirect_domain

        - if: is_https_query
          exec:
            - _new_nxdomain_response
            - _return

        - if: query_is_whitelist_domain
          exec:
            - forward_local
            - _return

        - if: query_is_greylist_domain
          exec:
            - forward_remote
            - _return
      
        - if: match_local_ptr
          exec:
            - forward_local
            - _return

        - if: query_is_local_domain
          exec:
            - forward_local
            - _return

        - if: query_is_non_local_domain
          exec:
            - forward_remote
            - _return

        - primary:
            - forward_local
            - if: "(! response_has_local_ip) && [_response_valid_answer]"
              exec:
                - _drop_response
          secondary:
            - forward_remote
          fast_fallback: 200

servers:
  - exec: main_sequence
    listeners:
      - protocol: udp
        addr: ":5335"
