#!/bin/sh
. /usr/share/openclash/log.sh
. /lib/functions.sh

# This script is called by /etc/init.d/openclash
# Add your custom firewall rules here, they will be added after the end of the OpenClash iptables rules

LOG_OUT "Tip: Start Add Custom Firewall Rules..."

en_mode=$(uci -q get openclash.config.en_mode)
proxy_port=$(uci -q get openclash.config.proxy_port)

if [ "$en_mode" == "fake-ip" ]; then
  LOG_OUT "limit route to only fake ips with proxy port $proxy_port"
  iptables -t nat -D openclash -p tcp -j REDIRECT --to-ports $proxy_port
  sleep 1
  LOG_OUT "update telegram ipset"
  /etc/mosdns/rule/geoip2ipset.sh /etc/openclash/GeoIP.dat telegram
  iptables -t nat -A openclash -m set --match-set telegram dst -p tcp -j REDIRECT --to-ports $proxy_port
  iptables -t nat -A PREROUTING -p tcp -d api.telegram.org -j REDIRECT --to-ports $proxy_port
  sleep 1
  LOG_OUT "update netflix ipset"
  /etc/mosdns/rule/geoip2ipset.sh /etc/openclash/GeoIP.dat netflix
  iptables -t nat -A openclash -m set --match-set netflix dst -p tcp -j REDIRECT --to-ports $proxy_port
fi

#  停止AdguradHome
LOG_OUT "stop adguardhome"
sleep 1
/etc/init.d/AdGuardHome stop
#  开启AdguradHome
sleep 1
LOG_OUT "start adguardhome"
/etc/init.d/AdGuardHome start
# 停止Mosdns
LOG_OUT "stop mosdns"
sleep 1
/etc/init.d/mosdns stop
# 开启Mosdns
LOG_OUT "start mosdns"
sleep 1
/etc/init.d/mosdns start
# 重载Mosdns
LOG_OUT "reload mosdns"
sleep 1
/etc/init.d/mosdns reload

exit 0
